html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #efece1;
}

main {
    flex: 1;
}

header {
    background-color: #0098BB;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    list-style: none;
    margin: 20px;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: 22px;
    padding: 10px;
    transition: color 0.3s ease;
    margin-left: 10px;
}

.navbar a:hover {
    color: #083d62;
}

.logo img {
    height: 50px;
    width: auto;
}

.navbar .submenu-0 {
    position: relative;
}

.navbar .submenu-items-0 {
    display: none;
    position: absolute;
    top: 105%;
    left: 20px;
    background-color: white;
    list-style: none;
    margin: 0;
    padding: 0;
    border-radius: 5px;
    width: 170px;
}

.navbar .submenu-items-0 li {
    padding: 0.5px 8px;
    border-bottom: 1px solid #083d62;
}

.navbar .submenu-items-0 li:last-child {
    border-bottom: none;
}

.navbar .submenu-0 li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    display: block;
    margin-left: auto;
}

.navbar .submenu-0:hover .submenu-items-0 {
    display: block;
}

.navbar .submenu {
    position: relative;
}

.navbar .submenu-items {
    display: none;
    position: absolute;
    top: 100%;
    left: 15px;
    background-color: white;
    list-style: none;
    margin: 0;
    padding: 0;
    border-radius: 5px;
    width: 150px;
}

.navbar .submenu-items li {
    padding: 0.5px 8px;
    border-bottom: 1px solid #083d62;
}

.navbar .submenu-items li:last-child {
    border-bottom: none;
}

.navbar .submenu li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    display: block;
}

.navbar .submenu:hover .submenu-items {
    display: block;
}

.navbar .submenu-2 {
    position: relative;
}

.navbar .submenu-items-2 {
    display: none;
    position: absolute;
    top: 100%;
    left: 15px;
    background-color: white;
    list-style: none;
    margin: 0;
    padding: 0;
    border-radius: 5px;
    width: 125px;
}

.navbar .submenu-items-2 li {
    padding: 0.5px 8px;
    border-bottom: 1px solid #083d62;
}

.navbar .submenu-items-2 li:last-child {
    border-bottom: none;
}

.navbar .submenu-2 li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    display: block;
    margin-left: auto;
}

.navbar .submenu-2:hover .submenu-items-2 {
    display: block;
}

.navbar .submenu, .navbar .submenu-0, .navbar .submenu-2 { 
    position: relative;
    z-index: 2;
}

.navbar .submenu-items, .navbar .submenu-items-0, .navbar .submenu-items-2 {
    position: absolute;
    z-index: 3;
}

.image-team {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('equipo-pastoral3.jpeg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: -1; /* siempre detrás */
}

.image-team::after {
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* sombra negra semi-transparente */
}


.tittle-equipo {
    position: relative;
    z-index: 2; /* para que esté por encima del fondo */
    background: rgba(0, 152, 187, 0.85); /* mismo azul con opacidad */
    border-radius: 10px;
    width: 80%;
    max-width: 900px;
    margin: 60px auto 40px auto;
    padding: 20px 30px;
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
    text-align: center;
    backdrop-filter: blur(2px); /* efecto suave al fondo */
}

.tittle-equipo h1 {
    font-size: 42px;
    color: #fff;
    margin: 0;
    letter-spacing: 1px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.8); /* mejora visibilidad */
}

.equipo-container {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Para que se acomoden en pantalla chica */
    margin-top: 80px;
}

.first {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    width: 280px;
    margin: 50px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
    margin-top: -50px;
}

.first h1 {
    font-size: 18px;
    text-align: center;
    color: #0098BB;
}

.first h2 {
    font-size: 18px;
    text-align: center;
}

.angelica-herrera img {
    width: 150px; /* más pequeña */
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
    margin-top: 8px;
}

.angelica-info {
    margin-top: -20px;
}

.angelica-info p {
    font-size: 17px;
    
    margin: 0;
    line-height: 1.6;
    text-align: center;
}

.angelica-info a {
    color: #0098BB;
    text-decoration: none;
    font-weight: bold;
}

.second {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    width: 280px;
    margin: 50px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
    margin-top: -50px;
}

.second h1 {
    font-size: 18px;
    text-align: center;
    color: #0098BB;
}

.second h2 {
    font-size: 18px;
    text-align: center;
}

.padre-ricardo img {
    width: 160px; /* más pequeña */
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px; /* espacio con el texto */
}

.padre-info {
    margin-top: -20px;
}

.padre-info p {
    font-size: 17px;
    color: #333;
    margin: 0;
    line-height: 1.6;
    text-align: center;
}

.padre-info a {
    color: #0098BB;
    text-decoration: none;
    font-weight: bold;
}

.third {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    width: 280px;
    margin: 50px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
    margin-top: -50px;
}

.majo img {
    width: 160px; /* más pequeña */
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px; /* espacio con el texto */
}

.majo-info {
    margin-top: -25px;
}

.majo-info p {
    font-size: 17px;
    color: #333;
    margin: 0;
    line-height: 1.6;
    text-align: center;
}

.majo-info a {
    color: #0098BB;
    text-decoration: none;
}

.third h1 {
    font-size: 18px;
    text-align: center;
    color: #0098BB;
}

.third h2 {
    font-size: 18px;
    text-align: center;
}

.third p {
    font-size: 18px;
    color: #333;
    text-align: center;
    margin-top: -15px;
    padding: 10px;
}

.fourth {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    width: 280px;
    margin: 50px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
    margin-top: -5px;
}

.trini-info {
    margin-top: -30px;
}

.trini img {
    width: 160px; /* más pequeña */
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px; /* espacio con el texto */
}

.trini-info p {
    font-size: 17px;
    color: #333;
    margin: 0;
    line-height: 1.6;
    text-align: center;
    margin-top: -10px;
}

.trini-info a {
    color: #0098BB;
    text-decoration: none;
}

.fourth h1 {
    font-size: 18px;
    text-align: center;
    color: #0098BB;
}

.fourth h2, h3 {
    font-size: 18px;
    text-align: center;
}

.fifth {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    width: 280px;
    margin: 50px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
    margin-top: -5px;
}

.caro-info {
    margin-top: -30px;
}

.caro img {
    width: 160px; /* más pequeña */
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px; /* espacio con el texto */
}

.caro-info p {
    font-size: 18px;
    color: #333;
    margin: 0;
    line-height: 1.6;
    text-align: center;
}

.caro-info a {
    color: #0098BB;
    text-decoration: none;
}

.fifth h1 {
    font-size: 18px;
    text-align: center;
    color: #0098BB;
}

.fifth h2 {
    font-size: 18px;
    text-align: center;
}






















footer {
    background-color: #0098BB;
    color: white;
    padding: 30px 10px;
    text-align: center;
    margin-top: auto;
}

footer .logo img {
    height: 60px;
    width: auto;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 5px;
}

.footer-section h3 {
    font-size: 20px;
    font-weight: bold;
}

.footer-section h3 {
    text-align: left;
    font-size: 20px;
    font-weight: bold;
}

.footer-section ul {
    list-style: none;
    padding: 0;
    margin-top: -15px;
}

.footer-section ul li {
    text-align: left;
    margin-bottom: 5px;
}

.footer-section a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: color 0.3s ease;
}

.footer-section a:hover {
    color: #083d62;
}

.footer-bottom {
    background-color: #007c96;
    padding: 10px 0;
}

.footer-bottom p {
    margin: 0;
    font-size: 14px;
}
