* {
    box-sizing: border-box;
}

.roboto-slab {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

html, body {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    font-family: "Roboto Slab", serif;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #efece1;
}

main {
    flex: 1;
}

header {
    background-color: #0098BB;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    list-style: none;
    margin: 20px;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 10px;
    transition: color 0.3s ease;
    text-align: center;
}

.navbar a:hover {
    color: #083d62;
}

.logo img {
    height: 50px;
    width: auto;
}

.navbar .submenu {
    position: relative;
}

.navbar .submenu-items {
    display: none;
    position: absolute;
    background-color: white;
    margin: 0;
    border-radius: 5px;
    width: 150px;
}

.navbar .submenu-items li {
    border-bottom: 1px solid #083d62;
}

.navbar .submenu-items li:last-child {
    border-bottom: none;
}

.navbar .submenu li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    display: block;
}

.navbar .submenu:hover .submenu-items {
    display: block;
}

.navbar .submenu-items {
    position: absolute;
    z-index: 3;
}

.slider-container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    overflow: hidden; /* Para que no se vea el contenido que sale de la caja */
    height: 430px;
  }
  
  .slider {
    display: flex;
    transition: transform 0.5s ease;
  }

  .slider-section::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);  /* Sombra encima de las imágenes */
    pointer-events: none;  /* Para que no interfiera con la interacción del carrusel */
}
  
  .slider-section {
    min-width: 100%;
    transition: transform 0.5s ease;
    position: relative;
  }

  .slider-section img {
    width: 100%;  /* Las imágenes ocuparán todo el ancho del contenedor */
    height: 100%;  /* Mantiene las proporciones de la imagen */
    object-fit: cover;
  }
  
  .slider-dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
  }
  
  .slider-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ddd;
    cursor: pointer;
    transition: width 0.3s, height 0.3s;
  }
  
  .slider-dot.active {
    width: 15px;
    height: 15px;
    background-color: #0098BB;
  }
  

/* Botones de navegación */
button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 15px;
    cursor: pointer;
    z-index: 1;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.container-wrapper {
    display: flex;
    align-items: flex-start;
    margin-top: 25px;
    flex-grow: 1;
}

.container3, .container2 {
    width: 30%;
    height: 550px;
    margin: 20px;
    padding: 10px;
    background-color: #f4f4f4; /* Fondo suave */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8); /* Sombra para darle profundidad */
    margin-top: 25px;
    margin-left: 35px;
}

.image-container {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.image {
    width: 90%; /* Imagen pequeña, ocupa el 80% del contenedor */
    height: auto;
    border-radius: 5px;
    margin-top: 10px;
}

.info-text {
    font-size: 18px;
    color: #333;
    margin-bottom: 5px;
    text-align: justify;
    margin-top: -25px;
    padding: 15px;
}

.dropdown {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
}

.dropdown-btn {
    background-color: #0098BB;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: -5px;
}

.dropdown-btn:hover {
    background-color: #007c96;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 10px;
    background-color: #f1f1f1;
    min-width: 160px; /* Ajusta el tamaño según lo que necesites */
    z-index: 1;
    border: 1px solid #ddd;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Agrega sombra para mejorar la apariencia */
    border-radius: 8px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Cambiar el color de los enlaces al pasar el cursor */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Mostrar el contenido cuando el mouse está sobre el contenedor */
.dropdown:hover .dropdown-content {
    display: block;
}

.image-container2 {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    top: 10px;
}

.image3 {
    width: 70%;
    height: auto;
    border-radius: 10px;
}

.info-text2 {
    font-size: 18px;
    color: #333;
    margin-bottom: 5px;
    text-align: justify;
    margin-top: -35px;
    padding: 20px;
}

.dropdown0 {
    position: relative;
    display: flex;
    width: 100%;
    margin-top: 70px;
    transform: translate(22%);
}

.dropdown-btn0 {
    background-color: #0098BB;
    color: white;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
}

.dropdown-btn0:hover {
    background-color: #007c96;
}

.instagram-feed iframe {
    border-radius: 8px;
    margin-top: 20px;
}

.title {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

.info {
    font-size: 18px;
    margin-top: -15px;
}

.dropdown1 {
    position: relative;
    display: flex;
    width: 100%;
    margin: 10%;
    margin-left: 30%;
}

.dropdown-btn1 {
    background-color: #0098BB;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: -5px;
}

.dropdown-btn1:hover {
    background-color: #007c96;
}

.dropdown-content1 {
    display: none;
    position: absolute;
    left: 70%; /* Mostrar a la derecha del botón */
    top: -70px; /* Alineación vertical al principio */
    background-color: #f1f1f1;
    min-width: 160px; /* Ajusta el tamaño según lo que necesites */
    z-index: 1;
    border: 1px solid #ddd;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Agrega sombra para mejorar la apariencia */
}

.dropdown-content1 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content1 a:hover {
    background-color: #ddd;
}

/* Mostrar el contenido cuando el mouse está sobre el contenedor */
.dropdown1:hover .dropdown-content1 {
    display: block;
}

/* FIN DE LA PAGINA */
footer {
    background-color: #0098BB;
    color: white;
    padding: 30px 10px;
    text-align: center;
    margin-top: auto;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}

.footer-section {
    text-align: left;
    margin-left: 100px;
}

.footer-section h3 {
    font-size: 22px;
    margin-bottom: 15px;
    font-weight: bold;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
    font-size: 14px;
}

.footer-section a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

.footer-section a:hover {
    color: #083d62;
}

.footer-section img {
    margin-top: 20px;
    width: 320px;
    height: auto;
}

.footer-bottom {
    background-color: #007c96;
    padding: 10px 0;
}

.footer-bottom p {
    margin: 0;
    font-size: 14px;
}